sudo: required
services:
   - docker
# changed to dockerfile
before_install: 
   - docker build -t samba73/docker-react .

script:
<<<<<<< HEAD
   - docker run -e CI=true samba73/docker-react
=======
   - docker run samba73/docker-react 
>>>>>>> 9d2dc22b4a1936ec81bf4504748181b5a705d0c7

deploy:
   provider: elasticbeanstalk
   region: "ap-southeast-1"
   app: "docker-react"
   env: "Dockerreact-env"
   bucket_name: "elasticbeanstalk-ap-southeast-1-130571200333"
   bucket_path: "docker-react"
   on:
     branch: master
   access_key_id: $AWS_ACCESS_KEY
   secret_access_key: $SECRET_ACCESS_KEY     